{% extends 'job_web/base_web.html' %}
{% load static %}

{% block title %}
<title>
      help
</title>
{% endblock %}

{% block index_body %}
<h4>平台使用方法：</h4>
<h5>寻找目标：</h5>
<p>1.访问：51job,寻找自己的职位<br>
2.回到本网站，进入Mine添加职位关键字。
</p>
<h5>工作监控：</h5>
<p>1.在Mine中，添加自己需要监控的职位，静待5分钟左右。<br>
2.通过翻页在地图上浏览职位。
</p>

<h5>自动投递简历：</h5>
<p>1.在Auto_launch_vitae中，添加自己的51job/智联账号密码，选择默认简历。<br>
2.设置职位情况，当符合条件时，自动投递简历。
</p>

<h5>尚待解决的问题：</h5>
<p>1.问：为何有些工作位置在极偏远地区？<br>
答：由于坐标转换系统还不完善，所以将无法转换的坐标强制安放到极偏远地区。这个意味着，地址需要人工手动去搜索。
</p>
{% endblock %}
