<head>
    <link rel="stylesheet" href="tests/Semantic-UI/semantic.min.css" >
{#    <script src="tests/Semantic-UI/semantic.min.js" ></script>#}

</head>
<body>
<div class="ui top attached segment">
  <p>hahahaha</p>
</div>
<div class="ui bottom attached tabular menu">
  <a class="item active">Active Project </a>
  <a class="item ">Project #2 </a>
  <a class="item">Project #3 </a>
  <div class="right menu">
    <a class="item"><i class="add icon"></i> New Tab </a>
  </div>
</div>

<div class="ui menu">
  <div class="header item">Our Company </div>
  <a class="item">About Us </a>
  <a class="item active">ui </a>
  <a class="item ">Locations </a>
</div>
</body>